/* Apply below css for all element & web page margin and padding are zero */
*{
    margin: 0;
    padding: 0;
}
/* Apply below css for make a primary button */
.primary-button{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    cursor: pointer;
    border: none;
    color: white;
}
/* Apply below css for header-container */
.header-container{
    background-image: url(./images/Banner\ Image.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
    margin: 50px 140px 0px 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header-container h1{
    color: #f7f7f7;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
}
.header-container h3{
    color: #f7f7f7;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

/* Apply below css for body part */

/* Below css apply for .discount-container */
.discount-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 140px 120px 140px;
}
.discount-container-info h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 40px;
}
.discount-container-info p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.discount-container-info h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.discount-container-info img {
    width: 802.9px;
    height: 500px;
}

/* Below css apply for midnight party  */
.party-container{
    background-image: url(./images/party.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    margin: 0px 140px 0px 140px;
}
.party-container h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-bottom: 20px;
    padding-top: 120px;
}
.party-container p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 20px;
}
.party-container > * {
    margin-left: 120px;
}

/* Below css apply for party-info  */
.party-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0px 140px 120px 140px;
}

.party-info > *  {
    padding-bottom: 20px;
    text-align: center;
    font-family: Inter;

}
.party-info > button{
    display: block;
    margin: 40px auto;
}
.span-color{
    color: #F00;
}

/* Below css apply for New-Best-Offer */
.best-offer-container{
    margin: 0px 140px 120px 140px;
    height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best-offer-left-info > *{
    margin-bottom: 20px;
    font-family: Inter;
}
.best-offer-middle-img >img{
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 38px;
    margin: 40px;
}
.best-offer-right-info > *{
    margin-bottom: 40px;
    font-family: Inter;
}
.best-offer-right-info > img{
    width: 140px;
    height: 140px;
}
/* Below css apply for Holidays-sale-container */
.holidays-sale-container{
    margin: 0px 140px 120px 140px;
}
.holidays-sale-info > *{
    text-align: center;
    font-family: Inter;
    margin-bottom: 25px;
}
.holidays-sale-info > h1{
    font-size: 72px;
    font-weight: 900;
}
.holidays-sale-wow-girl{
    display: flex;
    justify-content: flex-end;
}
.holidays-sale-wow-girl > img[alt="Discount"] {
    margin: 10px;
    position: absolute;
    right: 400px;
    align-self: center;
}
.holidays-sale-discount-box{
    display: flex;
    justify-content: left;
}
.holidays-sale-discount-box > img[alt="Rectangle"]{
    height: 230px;
    width: 100%;
}
.holidays-sale-discount-box > img[alt="Box"] {
    width: 350px;
    height: 300px;
    position: absolute;
    align-self: flex-end;
    left: 250px;
}

/* Below css apply for portfolio-container */
.portfolio-container{
    margin: 0px 140px 120px 140px;
}
.portfolio-info > h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.portfolio-info > *{
    margin-bottom: 10px;
}
.portfolio-info > p{
    margin-bottom: 50px;
}

.portfolio-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 610px;
}
.portfolio-img > img{
    width: 350px;
    height: 300px;
    border-radius: 16px;
}

/* Below css apply for subscribe-newsletter */
.subscribe-container{
    margin: 0px 140px 120px 140px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-info > img{
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    display: block;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;

}
.subscribe-info>h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;

}
.subscribe-info>p{
    text-align: center;
    margin-bottom: 40px;
}

.subscribe-input-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.subscribe-input-btn>input{
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    border: none;
}
.subscribe-input-btn>button{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    right: 350px;
    border: none;
    cursor: pointer;
}
input::placeholder { 
    position: absolute; 
    top: 50%; 
    left: 30px; 
    transform: translateY(-50%); 
} 


